<div>
    <h2 id="page-heading">
        <span jhiTranslate="schoolCardApp.admin.home.title">Admins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-admin" [routerLink]="['/admin/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="schoolCardApp.admin.home.createLabel">
            Create new Admin
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="admins">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="schoolCardApp.admin.adid">Adid</span></th>
            <th><span jhiTranslate="schoolCardApp.admin.adname">Adname</span></th>
            <th><span jhiTranslate="schoolCardApp.admin.adsex">Adsex</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let admin of admins ;trackBy: trackId">
                <td><a [routerLink]="['/admin', admin.id, 'view' ]">{{admin.id}}</a></td>
                <td>{{admin.adid}}</td>
                <td>{{admin.adname}}</td>
                <td>{{admin.adsex}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/admin', admin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/admin', admin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'admin', { outlets: { popup: admin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
