<div>
    <h2 id="page-heading">
        <span jhiTranslate="schoolCardApp.card.home.title">Cards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-card" [routerLink]="['/card/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="schoolCardApp.card.home.createLabel">
            Create new Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cards">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="schoolCardApp.card.cardId">Card Id</span></th>
            <th><span jhiTranslate="schoolCardApp.card.cardnum">Cardnum</span></th>
            <th><span jhiTranslate="schoolCardApp.card.sname">Sname</span></th>
            <th><span jhiTranslate="schoolCardApp.card.ssex">Ssex</span></th>
            <th><span jhiTranslate="schoolCardApp.card.cardstyle">Cardstyle</span></th>
            <th><span jhiTranslate="schoolCardApp.card.cardmoney">Cardmoney</span></th>
            <th><span jhiTranslate="schoolCardApp.card.cardstates">Cardstates</span></th>
            <th><span jhiTranslate="schoolCardApp.card.cardtime">Cardtime</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let card of cards ;trackBy: trackId">
                <td><a [routerLink]="['/card', card.id, 'view' ]">{{card.id}}</a></td>
                <td>{{card.cardId}}</td>
                <td>{{card.cardnum}}</td>
                <td>{{card.sname}}</td>
                <td>{{card.ssex}}</td>
                <td>{{card.cardstyle}}</td>
                <td>{{card.cardmoney}}</td>
                <td>{{card.cardstates}}</td>
                <td>{{card.cardtime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/card', card.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/card', card.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'card', { outlets: { popup: card.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
