<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fill-inf-heading" jhiTranslate="schoolCardApp.fillInf.home.createOrEditLabel">Create or edit a Fill Inf</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fillInf.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="fillInf.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="schoolCardApp.fillInf.cardno" for="field_cardno">Cardno</label>
                    <input type="text" class="form-control" name="cardno" id="field_cardno"
                        [(ngModel)]="fillInf.cardno" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="schoolCardApp.fillInf.cardstyle" for="field_cardstyle">Cardstyle</label>
                    <input type="text" class="form-control" name="cardstyle" id="field_cardstyle"
                        [(ngModel)]="fillInf.cardstyle" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="schoolCardApp.fillInf.fillmoney" for="field_fillmoney">Fillmoney</label>
                    <input type="text" class="form-control" name="fillmoney" id="field_fillmoney"
                        [(ngModel)]="fillInf.fillmoney" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="schoolCardApp.fillInf.filltime" for="field_filltime">Filltime</label>
                    <div class="d-flex">
                        <input id="field_filltime" type="datetime-local" class="form-control" name="filltime" [(ngModel)]="filltime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="schoolCardApp.fillInf.adId" for="field_adId">Ad Id</label>
                    <input type="text" class="form-control" name="adId" id="field_adId"
                        [(ngModel)]="fillInf.adId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="schoolCardApp.fillInf.fillnum" for="field_fillnum">Fillnum</label>
                    <input type="text" class="form-control" name="fillnum" id="field_fillnum"
                        [(ngModel)]="fillInf.fillnum" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
