<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span jhiTranslate="schoolCardApp.student.detail.title">Student</span> {{student.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="schoolCardApp.student.sid">Sid</span></dt>
                <dd>
                    <span>{{student.sid}}</span>
                </dd>
                <dt><span jhiTranslate="schoolCardApp.student.sname">Sname</span></dt>
                <dd>
                    <span>{{student.sname}}</span>
                </dd>
                <dt><span jhiTranslate="schoolCardApp.student.ssex">Ssex</span></dt>
                <dd>
                    <span>{{student.ssex}}</span>
                </dd>
                <dt><span jhiTranslate="schoolCardApp.student.sspecial">Sspecial</span></dt>
                <dd>
                    <span>{{student.sspecial}}</span>
                </dd>
                <dt><span jhiTranslate="schoolCardApp.student.sclass">Sclass</span></dt>
                <dd>
                    <span>{{student.sclass}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
